Bottleneck==1.3.2
certifi==2021.5.30
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1621187651333/work
dill==0.3.4
future @ file:///home/conda/feedstock_root/build_artifacts/future_1610147327521/work
hyperopt @ file:///home/conda/feedstock_root/build_artifacts/hyperopt_1602661729544/work
multiprocess==0.70.12.2
networkx==2.3
numexpr @ file:///tmp/build/80754af9/numexpr_1618856526911/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1626648380866/work
pandas==1.3.0
pathlib==1.0.1
pymongo @ file:///home/conda/feedstock_root/build_artifacts/pymongo_1626207954681/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1626684344458/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1627689047698/work
wrapt==1.12.1
